.appStyle{
 padding:20px;
display: flex;
flex-direction: column;
justify-content: center;
font-size: 40px;
color: #010101;
}

.sectionFeedback{
display: flex;
flex-direction: column;
justify-content: center;
}



.sectionStat{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

